<footer class="text-white text-center text-lg-start bg-dark py-5 footer_asco">
    <div class="container-fluid my-5">
        <div class="row mt-4">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <p>
                    Contamos con un equipo tecnico especializado en agua y electricidad,
                    asegurando soluciones eficientes y de calidad para nuestros clientes.
                </p>
                <p>
                    Nuestro equipo tecnico garantiza servicios precisos y confiables en
                    proyectos de agua y electricidad, con foco en excelencia y satisfaccion
                    del cliente.
                </p>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <ul class="fa-ul" style="margin-left: 1.65em;">
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span>
                        <span class="ms-2">Catapilco, La Foresta de Zapallar, Chile</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span>
                        <span class="ms-2">
                            <a class="text-white" href="mailto:aguasyservicios.operaciones@forestadezapallar.cl">
                                aguasyservicios.operaciones@forestadezapallar.cl
                            </a>
                        </span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-phone"></i></span>
                        <span class="ms-2">+56 9 4626 9680</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-print"></i></span>
                        <span class="ms-2">+56 33 2285025</span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Horario atencion</h5>
                <table class="table text-center text-white">
                    <tbody class="font-weight-normal">
                        <tr>
                            <td>Lunes - Viernes:</td>
                            <td>09:00 - 16:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2024 Derechos reservados:
        <a class="text-white" href="https://forestadezapallar.cl/">AyS Los Altos de Zapallar LTDA.</a>
    </div>
</footer>
